@media screen and (max-width:900px) {
header{
    display: flex;
    flex-direction: column;
    height: 50vh;
}
.logo img{
    height:15vh;
    width:13vw;
    padding:2px;
}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.right{
    width:auto;
    height: 50vh;
    padding:0px 2px;
}
.left{
    width:auto;
    height:50vh;
    padding:0px 2px; 
}
#img2{
    width:auto;
    height:46vh;
}
h4{
    font-size:6vh;
    font-weight: 500;
    margin:6px 0px;
}
h6{
    font-size: 3vh;
    font-weight: 400;
    margin:6px 0px;
}
main p{
    font-size:3vw ;
    font-weight: 200;
    margin:6px 0px;
}
footer h5{
    font-size: 3vh;
    font-weight: 300;
    padding:1px 3px;
}
footer p{
    font-size: 2vh;
    font-weight: 100;
    padding:1px 3px;
}
button{
    height:4vh;
}
}
