@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --blue:rgb(5, 10, 44);
    --white:#eee;
    --yellow:#FFE205;
    --light-blue: #1092CF;
    --light-yellow:#f3f360;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    transition: all .3s ease-in-out;
}

*::selection{
    background: var(--white);
    color: var(--blue);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    background: var(--blue);
    color: var(--white);
}

section{
    padding: 7rem 9%;
}

#menu-bar{
    font-size: 2rem;
    cursor: pointer;
    border: .1rem solid #eee8e8;
    padding: .5rem;
    display: none;
}

#menu-bar:hover{
    transform: scale(1.1);
}


button{
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    color: #b3d4fc;
    background-color: var(--blue);
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 900;
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.674);
}

button:hover{
    color: var(--blue);
    background: #fcfeff91;
    transition: .7s ease-in;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: black;
}

.info .box{
    padding: 2rem;
    text-align: center;
}

.info .box h3{
    color: #ce9431;
    font-size: 2.2rem;
}

.info .box p{
    color: var(--white);
    font-size: 2rem;
    padding-top: 1rem;
}

/* heading  */
.heading{
    text-align: center;
    padding:2rem 0;
}

.heading span{
    color: var(--blue);
    background: var(--light-blue);
    font-size: 3.5rem;
    font-weight: 900;
    padding: .2rem 1rem;
    border-radius: .5rem;
    box-shadow:.5rem 1rem 1.5rem rgba(16, 147, 207, 0.535);
}

.heading .space{
    background: none;
    box-shadow: none;
}

/* header section */
.header .logo{
    font-size: 3rem;
    color: var(--white);
    font-weight: 700;
}

.header .icon{
    color: var(--yellow);
}

.header .solar{
    width: 3.5rem;
    color: var(--white);
}

.header .logo:hover{
    color: var(--light-blue);
}

.header .navbar ul li{
    position: relative;
    float: left;
    margin: .5rem 1rem;
}

.header .navbar ul li a{
    display: block;
    font-size: 1.9rem;
    color: var(--white);
    padding: 1.5rem;
}

.header .navbar ul li a:before,
.header .navbar ul li a:after{
    content:"";
    position: absolute;
    height: .1rem;
    width: 0;
    background-color: var(--light-blue);
    transition: .5s;
}

.header .navbar ul li a:after{
    left: 0;
    bottom:8px;
}

.header .navbar ul li a:before{
    right: 0;
    top: 8px;
}

.header .navbar ul li a:hover{
    color: var(--yellow);
}

.header .navbar ul li a:hover:after,
.header .navbar ul li a:hover:before{
    width: 100%;
}

.header .navbar ul li ul{
    position: absolute;
    left: -50%;
    width: 28rem;
    background: var(--blue);
    display: none;
}

.header .navbar ul li ul li{
    width: 100%;
}

.header .navbar ul li:hover ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));;
    gap: 1rem;
    padding: 1rem;
}

/* home section  */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background: url(images/home.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content h2{
    font-size: 5.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: var(--white);
    padding: 1.5rem;
}

.home .content span{
    font-size: 4rem;
    font-weight: 700;
    color: var(--white);
}

.home .content p{
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    padding: 2rem 0;
}

/* facts */
.facts .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(33%,1fr));
    background: #ffffe6;
    color: var(--blue);
}

.facts .box-container .box{
    border-right: .1rem solid #999905;
    border-bottom: .1rem solid #999905;
    padding: 5rem;
}

.facts .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    width: 4rem;
    padding: 1rem 2rem;
    background: #21aff1;
    margin-bottom: 2rem;
    border-radius: 50%;
}

.facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: rgb(31, 21, 143);
}

.facts .box-container .box p{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
}

/* News */
.news .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(33%,1fr));
    background: #ffffe6;
    color: var(--blue);
}

.news .box-container .box{
    border-right: .1rem solid #999905;
    border-bottom: .1rem solid #999905;
    padding: 5rem;
}

.news .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    width: 4rem;
    padding: 1rem 2rem;
    background: #21aff1;
    margin-bottom: 2rem;
    border-radius: 50%;
}

.news .box-container .box p{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
}

/* Planets */
.planets{
    background: url(images/sun-1506019_640.jpg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
}

.planets .content h2{
    color: var(--white);
    font-size: 5rem;
}

.planets .content p{
    color: var(--white);
    font-size: 1.7rem;
}

.planet-content{
    width: 100%;
    background: black;
}

.planet-content p{
    color: var(--white);
    padding: 2rem;
    font-size: 2.5rem;
    line-height: 1.5;
}

.all-planet .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(48%,1fr));
    gap: 1rem;
}

.all-planet .box-container .box{
    padding: 1.5rem;
    background-color: rgb(2, 2, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.674);
}

.all-planet .box-container .box .image{
    padding: 1rem;
}

.all-planet .box-container .box .image img{
    height: 15rem;
    mix-blend-mode:lighten;
}

.all-planet .box-container .box .image:hover img{
    transform: scale(1.2);
}

.all-planet .box-container .box .content{
    padding-left: 3rem;
}

.all-planet .box-container .box .content h2{
    font-size: 4rem;
    color: var(--white);
}

.all-planet .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--white);
}

/* missions */
.mission-home{
    background: url(images/mission.jpg) no-repeat;
    margin-top: 7rem;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:center;
    justify-content: left;
}

.mission-home .content{
    width: 50rem;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.543);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.543);
}

.mission-home .content:hover{
    transform: scale(1.04);
}

.mission-home .content h3{
    font-size: 6rem;
    font-weight: 700;
}

.mission-home .content p{
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.mission-contents{
    font-size: 1.9rem;
    line-height: 2.2rem;
}

.mission-contents p{
    padding-bottom: 2rem;
    color: var(--blue);
}

.missions{
    background: url(images/background.jpg);
    width: 100%;
    scroll-behavior: smooth;
}

.missions .box-container {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    gap: 1rem;
   
}

.missions .box-container .box{
    margin: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    box-shadow: .5rem .5rem 1rem 1rem rgba(255, 255, 255, 0.63);
    border-radius: .7rem;
}

.missions .box-container .box .image{
    width: 100%;
    height:30rem;
}

.missions .box-container .box .image img{
    width: 100%;
    height: 100%;
}

.missions .box-container .box .image .text{
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    padding: 0;
    background: rgba(0, 0, 0, 0.63);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-130%);
}

.missions .box-container .box .image:hover .text{
    transform: translateY(0);
    transition: .5s ease-in-out;
}

.missions .box-container .box .image .text h3{
    font-size: 3rem;
    font-weight: 600;
    padding: 1.7rem;
}

.missions .box-container .box .image .text p{
    font-size: 1.3rem;
    font-weight: 300;
    padding: 1.3rem;
}

/* eclipse */
.eclipse-home{
    min-height: 100vh;
    width: 100%;
    background: url(images/eclipse.gif) no-repeat;
    background-size: cover;
    margin-top: 5rem;
}

.eclipse-home .name{
    font-size: 5rem;
    color: var(--white);
    text-align: center;
}

.eclipse-content{
    background: url(images/background.jpg);
    width: 100%;
}

.eclipse-content .para p{
    color: var(--white);
    font-size: 2rem;
    padding-bottom: 3rem;
}

.sl-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(48%,1fr));
    gap: 2rem;
    padding-top: 3rem;
}

.sl-container .box-container .box{
    overflow: hidden;
    padding: 2rem;
    background: #ddd;
    align-items: center;
    border-radius: 1rem;
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.302);
}

.sl-container .box-container .box h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding: 1.5rem;
    color: rgb(6, 12, 72);
}

.sl-container .box-container .box img{
    width: 47rem;
    border-radius: 1rem;
    mix-blend-mode: darken;
}

.sl-container .box-container .box p{
    font-size: 1.7rem;
    color: var(--blue);
    padding: 1rem;
}

/* sun */
.sun-home{
    background: url(images/background.jpg);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem ;
    min-height: 90vh;
}
.sun-home img{
    mix-blend-mode: lighten;
    transform: scale(7);
    animation: shrink 2s ease-in-out forwards;
    opacity: 1;
    width: 33rem;
}

.sun-home .content{
    width: 50rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 2rem;
    border-radius: 1rem
}

.sun-home .content:hover{
    transform: scale(1.05);
}

.sun-home .content h2{
    font-size: 15rem;
    font-weight: 900;
}

.sun-home .content p{
    font-size: 2.5rem;
}

.sun-content{
    background-color: black;
    color: white;
    width: 100%;
}

.sun-content p{
    font-size: 2.5rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.sun-content .sun-btn{
    color: var(--blue);
    background: var(--white);
    box-shadow: .5rem .5rem .5rem rgba(255, 255, 255, 0.533);
}

.sun-content .sun-btn:hover{
    color: var(--blue);
    background: var(--light-yellow);
}


.sun-facts .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    background: #e9c29a;
    color: var(--blue);
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.48);
    margin-top: 2rem ;
}

.sun-facts .box-container .box{
    border-right: .1rem solid #ff7b00;
    border-bottom: .1rem solid #ff7b00;
    padding: 5rem;
}

.sun-facts .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    width: 4rem;
    padding: 1rem 2rem;
    background: #ef9c60;
    margin-bottom: 2rem;
    border-radius: 50%;
    color: rgb(184, 77, 0);
}

.sun-facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: rgb(184, 77, 0);
}

.sun-facts .box-container .box p{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: rgb(184, 94, 30);
}



/* mercury */

.mercury-home{
    background: url(images/background.jpg);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem ;
    min-height: 100vh;
}

.mercury-home img{
    mix-blend-mode: lighten;
    transform: scale(7);
    animation: shrink 2s ease-in-out forwards;
    opacity: 1;
    width: 28rem;
    padding: 0rem 1.5rem;
}

.mercury-home .content{
    width: 50rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 2rem;
    border-radius: 1rem
}

.mercury-home .content:hover{
    transform: scale(1.05);
}

.mercury-home .content h2{
    font-size: 12rem;
    font-weight: 900;
}

.mercury-home .content p{
    font-size: 2.2rem;
}

.mercury-content{
    background-color: black;
    color: white;
    width: 100%;
}

.mercury-content p{
    font-size: 2.1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.mercury-content .mercury-btn{
    color: var(--blue);
    background: var(--white);
    box-shadow: .5rem .5rem .5rem rgba(255, 255, 255, 0.533);
}

.mercury-content .mercury-btn:hover{
    color: var(--blue);
    background: var(--light-yellow);
}

.mercury-facts .heading span{
    background: #8485c0;
    color:rgb(68, 69, 117);
    box-shadow:.5rem 1rem 1.5rem #3a3b607c;
}

.mercury-facts .heading .space{
    background: none;
    box-shadow: none;
}

.mercury-facts  .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    background: #a9b1cc;
    color: var(--blue);
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.48);
    margin-top: 2rem ;
}

.mercury-facts  .box-container .box{
    border-right: .1rem solid #262839;
    border-bottom: .1rem solid #262839;
    padding: 5rem;
}

.mercury-facts  .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    width: 4rem;
    padding: 1rem 2rem;
    background: #8485c0;
    margin-bottom: 2rem;
    border-radius: 50%;
    color: rgb(68, 69, 117);
}

.mercury-facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: rgb(68, 69, 117);
}

.mercury-facts .box-container .box p{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: rgb(120, 119, 172);
}



/* venus */
.venus-home{
    background: url(images/background.jpg);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem ;
    min-height: 100vh;
}

.venus-home img{
    mix-blend-mode: lighten;
    transform: scale(7);
    animation: shrink 2s ease-in-out forwards;
    opacity: 1;
    width: 28rem;
    padding: 0rem 1.5rem;
}

.venus-home .content{
    width: 50rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 2rem;
    border-radius: 1rem;
}

.venus-home .content:hover{
    transform: scale(1.05);
}

.venus-home .content h2{
    font-size: 10rem;
    font-weight: 900;
}

.venus-home .content p{
    font-size: 1.7rem;
}

.venus-content{
    background-color: black;
    color: white;
    width: 100%;
}

.venus-content p{
    font-size: 2.1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.venus-content .venus-btn{
    color: var(--blue);
    background: var(--white);
    box-shadow: .5rem .5rem .5rem rgba(255, 255, 255, 0.533);
}

.venus-content .venus-btn:hover{
    color: var(--blue);
    background: var(--light-yellow);
}

.venus-facts .heading span{
    background: #f8e6a5;
    color:rgb(61, 56, 33);
    box-shadow:.5rem 1rem 1.5rem rgba(138, 126, 86, 0.535);
}

.venus-facts .heading .space{
    background: none;
    box-shadow: none;
}

.venus-facts  .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    background: #f8e6a5;
    color: var(--blue);
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.48);
    margin-top: 2rem ;
}

.venus-facts  .box-container .box{
    border-right: .1rem solid #5c5a3b;
    border-bottom: .1rem solid #5c5a3b;
    padding: 5rem;
}

.venus-facts  .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    width: 4rem;
    padding: 1rem 2rem;
    background: #b7b083;
    margin-bottom: 2rem;
    border-radius: 50%;
    color: rgb(61, 56, 33);
}

.venus-facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: rgb(61, 56, 33);

}

.venus-facts .box-container .box p{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: rgb(131, 118, 80);
}


/* Earth */
.earth-home{
    background: url(images/background.jpg);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem ;
    min-height: 100vh;
}

.earth-home img{
    position: relative;
    mix-blend-mode: lighten;
    transform: scale(7);
    animation: shrink 2s ease-in-out forwards;
    opacity: 1;
    width: 28rem;
    padding: 0rem 1.5rem;
    z-index: 10;
}

.earth-home .content{
    width: 50rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 2rem;
    border-radius: 1rem;
}

.earth-home .content:hover{
    transform: scale(1.05);
}

.earth-home .content h2{
    font-size: 10rem;
    font-weight: 900;
}

.earth-home .content p{
    font-size: 1.7rem;
}

.earth-content{
    background-color: black;
    color: white;
    width: 100%;
}

.earth-content p{
    font-size: 2.1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.earth-content .earth-btn{
    color: var(--blue);
    background: var(--white);
    box-shadow: .5rem .5rem .5rem rgba(255, 255, 255, 0.533);
}

.earth-content .earth-btn:hover{
    color: var(--blue);
    background: var(--light-yellow);
}

.earth-facts  .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    background: #93c5d9;
    color: var(--blue);
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.48);
    margin-top: 2rem ;
}

.earth-facts  .box-container .box{
    border-right: .1rem solid #325060;
    border-bottom: .1rem solid #325060;
    padding: 5rem;
}

.earth-facts  .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    width: 4rem;
    padding: 1rem 2rem;
    background: var(--light-blue);
    margin-bottom: 2rem;
    border-radius: 50%;
    color: rgb(31, 21, 143);
}

.earth-facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: rgb(31, 21, 143);
}

.earth-facts .box-container .box p{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: #1092CF;
}



/* Mars */
.mars-home{
    background: url(images/background.jpg);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem ;
    min-height: 100vh;
}

.mars-home img{
    mix-blend-mode: lighten;
    transform: scale(7);
    animation: shrink 2s ease-in-out forwards;
    opacity: 1;
    width: 28rem;
    padding: 0rem 1.5rem;
}

.mars-home .content{
    width: 50rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 2rem;
    border-radius: 1rem;
}

.mars-home .content:hover{
    transform: scale(1.05);
}

.mars-home .content h2{
    font-size: 10rem;
    font-weight: 900;
}

.mars-home .content p{
    font-size: 1.7rem;
}

.mars-content{
    background-color: black;
    color: white;
    width: 100%;
}

.mars-content p{
    font-size: 2.1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.mars-content .mars-btn{
    color: var(--blue);
    background: var(--white);
    box-shadow: .5rem .5rem .5rem rgba(255, 255, 255, 0.533);
}

.mars-content .mars-btn:hover{
    color: var(--blue);
    background: var(--light-yellow);
}

.mars-facts .heading span{
    background: #b76a6a;
    color: #4b1414;
    box-shadow:.5rem 1rem 1.5rem rgba(114, 60, 60, 0.535);
}

.mars-facts .heading .space{
    background: none;
    box-shadow: none;
}

.mars-facts  .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    background: #bb8989;
    color: var(--blue);
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.48);
    margin-top: 2rem ;
}

.mars-facts  .box-container .box{
    border-right: .1rem solid #a21616;
    border-bottom: .1rem solid #a21616;
    padding: 5rem;
}

.mars-facts  .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    width: 4rem;
    padding: 1rem 2rem;
    background: #c06868;
    margin-bottom: 2rem;
    border-radius: 50%;
    color: #4b1414;
}

.mars-facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: #4b1414;
}

.mars-facts .box-container .box p{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: #6e3f3f;
}



/* Jupiter */

.jupiter-home{
    background: url(images/background.jpg);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem ;
    min-height: 100vh;
}

.jupiter-home img{
    mix-blend-mode: lighten;
    transform: scale(7);
    animation: shrink 2s ease-in-out forwards;
    opacity: 1;
    width: 28rem;
    padding: 0rem 1.5rem;
}

.jupiter-home .content{
    width: 50rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 2rem;
    border-radius: 1rem;
}

.jupiter-home .content:hover{
    transform: scale(1.05);
}

.jupiter-home .content h2{
    font-size: 10rem;
    font-weight: 900;
}

.jupiter-home .content p{
    font-size: 1.7rem;
}

.jupiter-content{
    background-color: black;
    color: white;
    width: 100%;
}

.jupiter-content p{
    font-size: 2.1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.jupiter-content .jupiter-btn{
    color: var(--blue);
    background: var(--white);
    box-shadow: .5rem .5rem .5rem rgba(255, 255, 255, 0.533);
}

.jupiter-content .jupiter-btn:hover{
    color: var(--blue);
    background: var(--light-yellow);
}

.jupiter-facts .heading span{
    background: #ffe2b1;
    color: #ba7805;
    box-shadow:.5rem 1rem 1.5rem #7d520392;
}

.jupiter-facts .heading .space{
    background: none;
    box-shadow: none;
}

.jupiter-facts  .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    background: #ffe2b1;
    color: var(--blue);
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.48);
    margin-top: 2rem ;
}

.jupiter-facts  .box-container .box{
    border-right: .1rem solid #ba7805;
    border-bottom: .1rem solid #ba7805;
    padding: 5rem;
}

.jupiter-facts  .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    font-weight: 900;
    width: 4rem;
    padding: 1rem 2rem;
    background: #c3a879;
    margin-bottom: 2rem;
    border-radius: 50%;
    color: #7b5006;
}

.jupiter-facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: #7b5006;
}

.jupiter-facts .box-container .box p{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: #9d7a3d;
}


/* Saturn */
.saturn-home{
    background: url(images/background.jpg);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem ;
    min-height: 100vh;
}

.saturn-home img{
    mix-blend-mode: lighten;
    transform: scale(7);
    animation: shrink 2s ease-in-out forwards;
    opacity: 1;
    width: 45rem;
    padding-left: 2rem;
}

.saturn-home .content{
    width: 50rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 2rem;
    border-radius: 1rem;
}

.saturn-home .content:hover{
    transform: scale(1.05);
}

.saturn-home .content h2{
    font-size: 10rem;
    font-weight: 900;
}

.saturn-home .content p{
    font-size: 1.7rem;
}

.saturn-content{
    background-color: black;
    color: white;
    width: 100%;
}

.saturn-content p{
    font-size: 2.1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.saturn-content .saturn-btn{
    color: var(--blue);
    background: var(--white);
    box-shadow: .5rem .5rem .5rem rgba(255, 255, 255, 0.533);
}

.saturn-content .saturn-btn:hover{
    color: var(--blue);
    background: var(--light-yellow);
}

.saturn-facts .heading span{
    background: rgb(191, 191, 170);
    color: rgb(65, 65, 52);
    box-shadow:.5rem 1rem 1.5rem rgba(62, 62, 54, 0.569);
}

.saturn-facts .heading .space{
    background: none;
    box-shadow: none;
}

.saturn-facts  .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    background:  rgb(233, 233, 210);
    color: var(--blue);
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.48);
    margin-top: 2rem ;
}

.saturn-facts  .box-container .box{
    border-right: .1rem solid rgb(65, 65, 52);
    border-bottom: .1rem solid rgb(65, 65, 52);
    padding: 5rem;
}

.saturn-facts  .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    font-weight: 900;
    width: 4rem;
    padding: 1rem 2rem;
    background: rgb(200, 200, 177);
    margin-bottom: 2rem;
    border-radius: 50%;
    color: rgb(65, 65, 52);
}

.saturn-facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: rgb(65, 65, 52);
}

.saturn-facts .box-container .box p{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: rgb(111, 111, 85);
}



/* Uranus */
.uranus-home{
    background: url(images/background.jpg);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem ;
    min-height: 100vh;
}

.uranus-home img{
    mix-blend-mode: lighten;
    transform: scale(7);
    animation: shrink 2s ease-in-out forwards;
    opacity: 1;
    width: 40rem;
    padding-left: 2rem;
}

.uranus-home .content{
    width: 50rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 2rem;
    border-radius: 1rem;
}

.uranus-home .content:hover{
    transform: scale(1.05);
}

.uranus-home .content h2{
    font-size: 10rem;
    font-weight: 900;
}

.uranus-home .content p{
    font-size: 1.7rem;
}

.uranus-content{
    background-color: black;
    color: white;
    width: 100%;
}

.uranus-content p{
    font-size: 2.1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.uranus-content .saturnr-btn{
    color: var(--blue);
    background: var(--white);
    box-shadow: .5rem .5rem .5rem rgba(255, 255, 255, 0.533);
}

.uranus-content .uranus-btn:hover{
    color: var(--blue);
    background: var(--light-yellow);
}

.uranus-facts .heading span{
    background: rgb(141, 196, 196);
    color: rgb(11, 101, 101);
    box-shadow:.5rem 1rem 1.5rem rgba(28, 194, 194, 0.44);
}

.uranus-facts .heading .space{
    background: none;
    box-shadow: none;
}

.uranus-facts  .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    background:  rgb(141, 196, 196);
    color: var(--blue);
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.48);
    margin-top: 2rem ;
    padding: 1rem;
}

.uranus-facts  .box-container .box{
    border-right: .1rem solid rgb(11, 101, 101);
    border-bottom: .1rem solid rgb(11, 101, 101);
    padding: 3rem;
}

.uranus-facts  .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    font-weight: 900;
    width: 4rem;
    padding: 1rem 2rem;
    background: rgb(123, 166, 166);
    margin-bottom: 2rem;
    border-radius: 50%;
    color: rgb(11, 101, 101);
}

.uranus-facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: rgb(11, 101, 101);
}

.uranus-facts .box-container .box p{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: rgb(75, 93, 93);
}



/* Neptune */
.neptune-home{
    background: url(images/background.jpg);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem ;
    min-height: 100vh;
}

.neptune-home img{
    z-index: 10;
    mix-blend-mode:lighten;
    transform: scale(7);
    animation: shrink 2s ease-in-out forwards;
    width: 30rem;
    padding-left: 2rem;
}

.neptune-home .content{
    width: 50rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 2rem;
    border-radius: 1rem;
}

.neptune-home .content:hover{
    transform: scale(1.05);
}

.neptune-home .content h2{
    font-size: 10rem;
    font-weight: 900;
}

.neptune-home .content p{
    font-size: 1.7rem;
}

.neptune-content{
    background-color: black;
    color: white;
    width: 100%;
}

.neptune-content p{
    font-size: 2.1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.neptune-content .neptune-btn{
    color: var(--blue);
    background: var(--white);
    box-shadow: .5rem .5rem .5rem rgba(255, 255, 255, 0.533);
}

.neptune-content .neptune-btn:hover{
    color: var(--blue);
    background: var(--light-yellow);
}

.neptune-facts .heading span{
    background: rgb(114, 198, 226);
    color: rgb(11, 20, 101);
    box-shadow:.5rem 1rem 1.5rem rgba(18, 77, 77, 0.44);
}

.neptune-facts .heading .space{
    background: none;
    box-shadow: none;
}

.neptune-facts  .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    background:  rgb(169, 211, 225);
    color: var(--blue);
    box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, 0.48);
    margin-top: 2rem ;
    padding: 2rem;
}

.neptune-facts  .box-container .box{
    border-right: .1rem solid rgb(11,20,101);
    border-bottom: .1rem solid rgb(11,20,101);
    padding: 5rem;
}

.neptune-facts  .box-container .box span{
    position: relative;
    right: -43%;
    font-size: 3rem;
    font-weight: 900;
    width: 4rem;
    padding: 1rem 2rem;
    background: rgb(99, 144, 183);
    margin-bottom: 2rem;
    border-radius: 50%;
    color: rgb(11,20,101);
}

.neptune-facts .box-container .box h3{
    padding-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: rgb(11, 20, 101);
}

.neptune-facts .box-container .box p{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: rgb(99, 144, 183);
}




/* footer section */

.footer{
    position: relative;
    background: var(--blue);
    color: var(--white);
   
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18%,1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 3rem;
    padding-bottom: 2.4rem;
    color: var(--yellow);
}

.footer .box-container .box a{
    display: block;
    font-size: 1.6rem;
    color: var(--white);
    padding: .7rem 0;
}

.footer .box-container .box i{
    color: var(--light-yellow);
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: var(--light-blue);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    transition: .9s;
    color: var(--light-blue);
}

.footer .box-container .box .icon a{
   height: 3rem;
   width: 3rem; 
   text-align: center;
   background: var(--light-blue);
   margin: .5rem;
   border-radius: .5rem;
}

.footer .box-container .box .icon a:hover{
    background-color: var(--yellow);
    color: var(--blue);
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }
}


@media (max-width:760px){
    .header{
        padding: 3rem;
    }

    #menu-bar{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        left: 0;
        top: 99%;
        right: 0;
        background-color: var(--blue);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }

    .header .navbar ul li{
        width: 100%;
    }

    .header .navbar ul li ul{
        width:100%;
        position: relative;
        left: 0;
    }

    .header .navbar ul li:hover ul{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(49%,1fr));
    }

    .mercury-home{
        display: flex;
        flex-direction: column;
    }

    .mercury-facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .mercury-facts .heading span{
        margin-top: 2rem;
    }

    .venus-home{
        display: flex;
        flex-direction: column; 
    }

    .venus-facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .venus-facts .heading span{
        margin-top: 2rem;
    }

    .earth-home{
        display: flex;
        flex-direction: column; 
    }

    .earth-facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .earth-facts .heading span{
        margin-top: 2rem;
    }

    .mars-home{
        display: flex;
        flex-direction: column; 
    }

    .mars-facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .mars-facts .heading span{
        margin-top: 2rem;
    }

    .jupiter-home{
        display: flex;
        flex-direction: column; 
    }

    .jupiter-facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .jupiter-facts .heading span{
        margin-top: 2rem;
    }

    .saturn-home{
        display: flex;
        flex-direction: column; 
    }

    .saturn-facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .saturn-facts .heading span{
        margin-top: 2rem;
    }

    .uranus-home{
        display: flex;
        flex-direction: column; 
    }

    .uranus-facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .uranus-facts .heading span{
        margin-top: 2rem;
    }

    .neptune-home{
        display: flex;
        flex-direction: column; 
    }

    .neptune-facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .neptune-facts .heading span{
        margin-top: 2rem;
    }

    .sun{
        display: flex;
        flex-direction: column; 
    }

    .sun-facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .sun-facts .heading span{
        margin-top: 2rem;
    }


    .footer .box-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .facts .box-container{
        display: flex;
        flex-direction: column;
    }

    .news .box-container{
        display: flex;
        flex-direction: column;
    }

    .all-planet .box-container{
        display: flex;
        flex-direction: column;
    }

    .missions .box-container{
        display: flex;
        flex-direction: column;
    }

    .eclipse-home .name{
        padding-top: 3rem;
    }

    .sl-container .box-container{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}


/* Animation  */
@keyframes shrink{
    0% , 25%{
        transform: scale(16);
        position: relative;
        left: -60vh;
    }
    75% , 100%{
        transform: scale(2); 
        position: relative;
        left: 0vh;
    }
}