@media  screen and (max-width:700px) {
    .mainheader{
        display: flex;
        flex-direction: column;
       
        height: 200px;
    }
    header{
        height: 95vh;
    }
    .sec2 img{
        height: 20vh;
        margin: 40px auto;
    }
    h3{
        position: relative;
top: -33px;
    }
    main .card{
        flex-direction: column;
    }
    .card button{
        position: relative;
        left: 20%;
        
    }
    .card .card-item1{
        width: 350px;
        height: 50vh;
        display: grid;
    place-items: center;
    }
    .card .card-item2{
        width: 350px;
        height: 50vh;
        display: grid;
    place-items: center;
    }
    .card .card-item3{
        width: 350px;
        height: 50vh;
        display: grid;
    place-items: center;
    }
    .card{
        display: grid;
    }
    footer{
        height: 170vh;
    }
    
}