@media screen and (max-width:700px) {
  .mainheader{
    display: flex;
    flex-direction: column;
    height: 30vh;
  }  
  h1{
    width: 50vw;
    line-height: 5vh;
  }
  p{
    line-height: 25px;
    width: 36vw;
    padding-left: 1vw;
    font-size: 2vw;
  }
  h2{
    font-size: 4vw;
    width: 25vw;
  }
  .item1 img{
    width: 36vw;
    height: 38vh;
  }
  .item2 img{
    width: 36vw;
    height: 38vh;
  }
  .item3 img{
    width: 36vw;
    height: 38vh;
  }
  .item4 img{
    width: 36vw;
    height: 38vh;
  }
  .item5 img{
    width: 36vw;
    height: 38vh;
  }
  .item6 img{
    width: 36vw;
    height: 38vh;
  }
}