

input[type="text"]{
  position: relative;
   top: 15vh;
  width: 80%;
  margin: 0vh auto;
  display: flex;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
 
  background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg');
  background-size: 100%;
  border-radius: 10vh;
  text-align: center;

}

input[type="password"]{
    position: relative;
    top:20vh;
    width: 80%;
  margin: 0vh auto;

  display: flex;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
 
  background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg');
  background-size: 100%;
  border-radius: 10vh;
  text-align: center;

}



  button[type="submit"] {
    display: block;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg');
    border-radius: 10vh;
    color: #ffffff;
    border: none;
    
    cursor: pointer;
    position: relative;
    top: 30vh;
  }

  a{
    
    
    color: black;
    display: block;
    width: 60%;
    margin: auto;
    padding: 2px;
    background-color: aliceblue;
    /* background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg'); */
    border-radius: 10vh;
    
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -20vh;
  }
  p{
    /* display: grid;
justify-content:start; */
display: grid;
justify-content: center;
color: white;
font-weight: bold;
line-height: 5vh;
word-spacing: 4px;
position: relative;
top: -45vh;
margin: auto auto;
  }


 .sign-up_option  p a{
    position: relative;
top: 6vh;

  }


  .form-group {
    /* margin-bottom: 20px; */
    margin: 20px;
    

    
  }
.form_input--error-message{
  color: red;
  text-align: center;
  position:static;
  top: 6vh;
  margin: 0 ;
  padding: 0;
}
  .form-group{
    position: relative;
    top: 20vh;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .signup-container {
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 45%;
        height: 90vh;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
   
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }

  body {
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg');
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    
        
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
     
      
  }
 
  .error{
    color:red;
    text-align: center;
    position: relative;
    top: 10vh;
  }

  .success{
    color: rgb(82, 75, 219);
  }