body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    
        background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      
  }
  
  .login-container,.signup-container {
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 50%;
        height: 70vh;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
   
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    position: relative;
    top: 2vh;
  }
  
  .form-group {
    /* margin-bottom: 20px; */
    margin: 6px;
    

    
  }
  .form-group1{
    position: relative;
    top: 15vh;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],input[type="email"] {
    width: 80%;
    margin-top: 3vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    padding: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    position: relative;
    top: 12vh;
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg');
    background-size: 100%;
    border-radius: 10vh;
    text-align: center;
  }
  
  button[type="submit"] {
    display: block;
    width: 20%;
    margin: auto;
    padding: 10px;
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg');
    border-radius: 10vh;
    color: #ffffff;
    border: none;
    
    cursor: pointer;
    position: relative;
    top: 10vh;
  }

  
  
  
  a{
    
    
    color: black;
    display: block;
    width: 60%;
    margin: auto;
    padding: 2px;
    background-color: aliceblue;
    /* background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg'); */
    border-radius: 10vh;
    
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 1vh;
  }
  p{
    display: grid;
justify-content: center;
color: white;
line-height: 5vh;
word-spacing: 4px;
  }

  .form_message{
    color: red;
    text-align: center;
    position: relative;
    top: 5vh;
  }
  .error{
    color: red;
  }